body{
    background-image: url(img/fondMarron.jpeg);
    background-size: cover;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

html,body { height : 100%; }

header{

    margin: 0%;
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 8%;
    float: left; 
    background-color: rgb(71, 122, 105);


}
.Accueil:hover{
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(255, 228, 196, 0.979) ;
    cursor: pointer;
}

.Accueil{
    background-color: rgb(126, 139, 83);
    border-style: solid;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    width: 10%;

}

.Accueil img{
    height: 100%;
    width: 100%;
}

nav a{
    text-decoration: none;
}

.menu1:hover{
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(255, 228, 196, 0.979) ;
    cursor: pointer;
}


.menu1{
    border-style: solid;
    border-left-width : 0;
    flex-basis: 30%;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu1 a{
    color: black;
    font-weight: bold;
    height: 50%;
    font-size: 150%;

}

.menu2:hover{
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(255, 228, 196, 0.979) ;
    cursor: pointer;
}

.menu2{
    border-style: solid;
    border-left-width : 0;
    flex-basis: 30%;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu2 a{
    color: black;
    font-weight: bold;
    height: 50%;
    font-size: 150%;
}

.menu3:hover{
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(255, 228, 196, 0.979) ;
    cursor: pointer;
}

.menu3{
    border-style: solid;
    border-left-width : 0;
    flex-basis: 30%;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu3 a{
    color: black;
    font-weight: bold;
    height: 50%;
    font-size: 150%;
}

.photo img{
    width: 85%;
}

footer{

position: fixed;
width: 100%; height: 13%;
bottom: 0; left: 0; right: 0;

background-color: rgb(126, 139, 83);
display: flex ;
}

footer p{
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding-left: 2px;
}

.imageFooter {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  
  .imageFooter img {
    width: 115px; 
  }

#Accueil{
    width: 60%;
    justify-content: flex-end;
}

.contact{
    justify-content: flex-start ;
    color: rgb(255, 255, 255);
   /* border-style: solid; border-color: blueviolet;*/
    flex-basis: 85%;
}

.contact a{
    text-decoration: none;
    color: black;
}

.contact nobr{
    text-decoration: none;
    color: black;
}

.Projet{ 
    MARGIN-top: 6%;
    background-color: rgba(107, 142, 35, 0.5);

    height: 55%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Projet img{
    border-style: solid;
}

.photo{
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texte{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texte p{
    font-size: 180%;
    font-weight: bold;
}

.projet1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projet2 img{
    width: 90%;
}

.projet1 a{
    font-size: 200%;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projet1 nav{
    display: flex;
    justify-content: center;
    align-items:center;
}

.projet2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projet2 img{
    width: 83%;
}

.projet2 a{
    font-size: 200%;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projet2 nav{
    display: flex;
    justify-content: center;
    align-items:center;
}

.exp{
    margin-top: 8px;
    height: 75%; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.exp img{
    border-style: solid;
    width: 80%;
}

.ProjetIHM img {
    height: 65%;
    width: 65%;
    margin-top: 3%;
    border-style: solid;
}

.ProjetIHM{
    MARGIN-top: 6%;
    background-color: rgba(107, 142, 35, 0.5);

    height: 55%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.exp1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 40%;
 
}

.exp2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 40%;
    
}




.exp1 p{
    width: 100%;
}


.exp2 p{
    width: 100%;
    
}

.exp p{
    font-size: larger;
    
}

.exp ul{
    font-size: larger;
    width:  100%; 
}

.pdf-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: gray;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px; /* ajouter des bords arrondis */
    margin: 10px; /* ajouter une marge pour éloigner du coin */
  }
  
  .pdf-button:hover {
    background-color: darkgray;
  }
  
  .pdf-button a {
    color: black;
    text-decoration: none;
  }
  
  
.Biosphereimg1{
    width: 80%;
}

.Biosphereimg2{
    width: 120%;
}

.hyperstellarimg2{
    width: 80%;
}



@media screen and (max-width: 1800px){

.contact{
    display: flex;
    flex-direction: row;
    flex-basis: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imageFooter img {
    width: 60px; 
  }

.texte {
    font-size: medium;
    width: 60%;
}

nav{
    font-size: medium;
}

footer p{
    width: 33%;
    font-size: 120%;
}

footer{
    height: 10%;
    justify-content: space-between;
}

header nav a{
    font-size: 80%;
}

.menu1 a{
    font-size: 100%;
    }
    
.menu2 a{
    font-size: 100%;
    }

.menu3 a{
    font-size: 100%;
}

.projet1 img{
    width: 60%;
}

.projet2 img{
    width: 60%;
}

.exp p{
    font-size: large; 
}

.exp ul{
    font-size: medium;
}


.ProjetIHM img {
    height: 40%;
    width: 40%;
}



@media screen and (max-width: 1000px){

.Projet{
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content:space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.projet1 img{
    width: 80%;
}

.projet2 img{
    width: 80%;
}

.ProjetIHM{
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content:center;
    margin-left: 5%;
    margin-right: 5%;
}

.ProjetIHM img {
    height: 120%;
    width: 120%;
}


.pdf-button{
   margin-top: 15%;
}

.Accueil{
    width: 15%;
}

.menu1{
    width: 20%;
}

.Projet p{
    font-size:80%;
}

.Projet img{
    border-style: solid;
    width: 100%;
}
*
.photo img{
    width: 70%;
}

header{

    margin: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6%;
}

.texte{
    width: 90%;
    font-size: large;
}

.photo{
    width: 60%;
}

.hyperstellarimg2{
    width: 100%;
}

.Biosphereimg1{
    width: 100%;
}



footer{
    height: 6%;
    display: flex;
    justify-content: space-between;
}

footer p{
    font-size: 80%;
}


.projet1{
    width: 50%;
}
.projet1 a{
    font-size: medium;
}

.projet2{
    width: 50%;
}

.projet2 a{
    font-size: medium;
}

.exp{
    margin-top: 11%;
    display: flex;
    flex-wrap: wrap;
}



.exp img{
    width:90%
}

.exp p{
    font-size: 13px;
}

.exp ul{
    width: 90%;
    font-size: 13px;
}




footer p{
    width: 20%;
    font-size: 75%;

}

footer p:nth-child(0n+3){
    width: 50%;
    font-size: 65%;

}

.texteIHM li{
    font-size: 10px;
}

.texteIHM p{
font-size: 10px;

}

.imageFooter img {
    width: 37px; 
  }

}}