<div class="accueil-container">
    <!-- Card with content -->
    <mat-card class="accueil-card">
      <div class="photo-container">
        <img src="assets/img/photoProfil.png" alt="Ma photo" class="photo" />
      </div>
  
      <!-- Nom et prénom sous la photo -->
      <div class="name-container">
        <h2 class="name">Victor Bernard</h2> <!-- Remplace par ton prénom et nom -->
      </div>
  
      <mat-card-content class="presentation">
        <h1>Bienvenue sur mon portfolio !</h1>
        <p>Je suis développeur full-stack avec une passion pour la technologie et le code. Explorez mes projets et mes réalisations sur ce site !</p>
      </mat-card-content>
  
      <mat-card-actions class="cv-link">
        <a mat-button href="assets/pdf/VictorBERNARD.pdf" target="_blank">Téléchargez mon CV</a>
      </mat-card-actions>
    </mat-card>
  </div>
  