/* You can add global styles to this file, and also import other style files */

html, body {     background-color: #222;     color: #fff;  /* Texte en blanc */
    /* Fond noir moins foncé */
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Contenu global */
.router-container {
    display: flex;
    flex-direction: column;
  }