<div class="contact-container">
    <!-- Card with contact information -->
    <mat-card class="contact-card">
      <!-- Profile Picture Section -->
      <div class="photo-container">
        <img src="assets/img/photoProfil.png" alt="photo" class="photo" />
      </div>
  
      <!-- Name Section -->
      <div class="name-container">
        <h2 class="name">Victor Bernard</h2>
      </div>
  
      <!-- Contact Information -->
      <mat-card-content class="contact-info">
        <h1>Contactez-moi !</h1>
        <p>Je serais ravi de discuter de nouvelles opportunités ou de répondre à vos questions.</p>
  
        <!-- Contact Details -->
        <div class="contact-details">
          <p><strong>Téléphone :</strong> 06 47 30 58 60</p>
          <p><strong>Email :</strong> <a href="mailto:victorbernard333@gmail.com"> victorbernard333&#64;gmail.com</a></p>
          <p><strong>LinkedIn : </strong> <a href="https://www.linkedin.com/in/victor-bernard-3b6a52278/" target="_blank">Victor Bernard </a></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  